nav
  label.logo
    a(href="/entries") Let&apos;s Write
  if user
    ul
      li
        a(href='/me') Profile
      li
        a(href='/logout') Logout
  else
    ul
      li
        a(href='/login') Log in
      li
        a(href='/register') Register