#myTopnav.topnav
  a(href='/me') Home
  a(href='/logout') Logout
  .dropdown
    button.dropbtn
      a.active(href='/me') Profile
      i.fa.fa-caret-down
    .dropdown-content
      a(href='/delete') Delete Account
      a(href='/changePassword') Update Password
      a(href='/update') Update Details