nav
  label.logo  Let&apos;s Write
  ul
    li
      a(href='/entries') Entries
    li
      a(href='/entries/create') Create Entry
    li
      a(href='/me') Profile
    li
      a(href='/login') Log In 
    li
      a(href='/logout') Logout
    