doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Forgot Password
  link(rel="stylesheet", href="css/style.css")
.container
  h2 Change Password
  form(action='/changePassword' method='POST')
    .form-group
      label(for='newPassword') Enter Old Password:
      input#newPassword(type='password' name='password' placeholder='Enter your new password' required='')
    .form-group
      label(for='newPassword') Enter New Password:
      input#newPassword(type='password' name='newpassword' placeholder='Enter your new password' required='')
    .form-group
      label(for='confirmNewPassword') Confirm New Password:
      input#confirmPassword(type='password' name='confirmPassword' placeholder='Confirm your new password' required='')
    .form-group
      button(type='submit') Submit
