extends base

block content
  .card_button
    a(href='/entries/create/')
      button(type='card_button' style="color:black;") Create a New Entry!
  .cards
    .container
      if entries.length > 0
        each entry in entries
          .card
            a(href='/entries/entry/'+entry.title)
              .card_title= entry.title
            .card-body= entry.data.slice(0,100)
            .card_button
              a(href='/entries/entry/'+entry.title)
                button(type='card_button') edit
              a(href='/entries/delete/'+entry.title)
                button(type='card_button' style='background-color: rgb(246, 55, 55);') delete
            .card-time= entry.createdOn.toString().slice(0,15)
      else
        .card
          .card-body 
            h3 No entries yet!
          .card_button
                a(href='/entries/create/')
                  button(type='card_button') CREATE ONE