extends base

block content
  if entries.length > 0
    .card_button
      a(href='/entries/create/')
        button(type='card_button' style="color:black; padding:10px;") Create a New Entry!
  .cards
    .container
      if entries.length > 0
        each entry in entries
          .card
            a(href='/entries/entry/'+entry.title)
              .card_title= entry.title
            .card-body= entry.data.slice(0,100)
            .card_button
              a(href='/entries/entry/'+entry.title)
                button(type='card_button') edit
              a(href='/entries/delete/'+entry.title)
                button(type='card_button' style='background-color: rgb(246, 55, 55);') delete
            .card-time #{entry.createdOn.toString().slice(3,15)} 
      else
        .card
          .card-body 
            h3(style='text-align:center;') No Entries Yet!
          .card_button
                a(href='/entries/create/')
                  button(type='card_button' style='color:black;') CREATE ONE