extends base

block content
  #app.notes
    .notes__sidebar
      button.add_notes(type='button') Previous Notes
      .notes__list
      each item in entries
        a(href='/entries/entry/' + item.title style='text-decoration: none') 
          .notes__list-item.notes__list-item--selected
            .notes__small-title= item.title
            .notes__small-body= item.data.slice(0,15)
            .notes__small-updated= item.createdOn.toString().slice(0,15)
          br
    form(method='post')
      .notes__preview
        .button
          button(type='submit' formaction='/entries/create') Create
          button(type='submit') Delete
        input.notes__title(type='text' name = 'title' placeholder='Title' required='')
        .time=Date()
        textarea.notes__body(name = 'data' placeholder='record your entry')