extends base

block content
    h1(style="text-align:center;") Sorry! An Error Occurred!!
    h2(style="text-align:center;") #{err.message}
    a(href='/' style="text-align: center;") click here to go home