doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Forgot Password
  link(rel="stylesheet", href="css/style.css")
.container
  h2 Forgot Password
  form(action='/forgotPassword' method='post')
    .form-group
      label(for='email') Email:
      input#email(type='email' name='email' placeholder='Enter your registered email' required='')
    .form-group
      button(type='submit' onclick="window.alert('Reset mail sent!')") Send reset token
