extends base

block content
  .container-fluid
    h2 Forgot Password
    form(action='/forgotPassword' method='post')
      .form-group
        label(for='email') Email:
        input#email(type='email' name='email' placeholder='Enter your registered email' required='')
      .form-group
        button(type='submit' onclick="window.alert('Reset mail sent!')") Send reset token
