doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Page
  style.
    body {
    margin-top: 100px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, #d6f5d6, #4CAF50);
    }
    .login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .form-group {
    margin-bottom: 20px;
    }
    .form-group label {
    display: block;
    margin-bottom: 5px;
    }
    .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    }
    .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    }
    .form-group button:hover {
    background-color: #2E8B57;
    }
    .forgot-password {
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    }
    .forgot-password:hover {
    color: red;
    }
.login-container
  h2 Login
  form(action='/login' method='POST')
    .form-group
      label(for='email') Email:
      input#email(type='email' name='email' placeholder='Enter your email' required='')
    .form-group
      label(for='password') Password:
      input#password(type='password' name='password' placeholder='Enter your password' required='')
      a.forgot-password(href='/forgotPassword') Forgot password?
    .form-group
      button(type='submit') Login