extends base

block content
  .profile-container
    h1.profile-name #{name}
    .profile-details
      p#email(name='email') #{email}
    form
      .edit-profile-buttons
        button(type=' submit' formaction='/update') Update Account Details
      .edit-profile-buttons
        button(type=' submit' formaction='/changePassword') Update Password
      .edit-profile-buttons
        button(type=' submit' formaction='/delete') Delete Account
      .edit-profile-buttons
        button(type='submit' formaction='/logout') Logout