extends base

block content
  .container
    h2 Registration
    form(action='/register' method='POST')
      .form-group
        label(for='name') Name:
        input#name(type='text' name='name' placeholder='Enter your name' required='')
      .form-group
        label(for='email') Email:
        input#email(type='email' name='email' placeholder='Enter your email' required='')
      .form-group
        label(for='password') Password:
        input#password(type='password' name='password' placeholder='Enter your password' required='')
      .form-group
        label(for='confirm-password') Confirm Password:
        input#confirm-password(type='password' name='confirmPassword' placeholder='Confirm your password' required='')
      .form-group
        button(type='submit') Register
