doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Forgot Password
  style.
    body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, #d6f5d6, #4CAF50);
    }
    .forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .form-group {
    margin-bottom: 20px;
    }
    .form-group label {
    display: block;
    margin-bottom: 5px;
    }
    .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    }
    .form-group button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    }
    .form-group button:hover {
    background-color: darkgreen;
    }
.forgot-password-container
  h2 Forgot Password
  form(action='' method='POST')
    .form-group
      label(for='newPassword') Enter New Password:
      input#newPassword(type='password' name='password' placeholder='Enter your new password' required='')
    .form-group
      label(for='confirmNewPassword') Confirm New Password:
      input#confirmPassword(type='password' name='confirmPassword' placeholder='Confirm your new password' required='')
    .form-group
      button(type='submit') Submit
