doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Update Details
  style.
    body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, #d6f5d6, #4CAF50);
    }
    .update-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .form-group {
    margin-bottom: 20px;
    }
    .form-group label {
    display: block;
    margin-bottom: 5px;
    }
    .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    }
    .form-group button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    }
    .form-group button:hover {
    background-color: #8B0000;
    }
.update-container
  h2 Update Details
  form(action='#' method='POST')
    .form-group
      label(for='firstName') Name:
      input#firstName(type='text' name='name' placeholder='Enter your new name' required='')
    .form-group
      label(for='email') Email:
      input#email(type='email' name='email' placeholder='Enter your email' required='')
    .form-group
      button(type='submit') Update
