extends base

block content
  .container-fluid
    h2 Update Details
    form(action='#' method='POST')
      .form-group
        label(for='firstName') Name:
        input#firstName(type='text' name='name' placeholder='Enter your new name')
      .form-group
        label(for='email') Email:
        input#email(type='email' name='email' placeholder='Enter your email')
      .form-group
        button(type='submit') Update
