body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: radial-gradient(circle, #d6f5d6, #4CAF50);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: darkgreen;
}

  .form-group button.reset-password-button {
    display: none;
    background-color: #8B0000;
  }

  .form-group button.reset-password-button:hover {
    background-color: #2E8B57;
  }

  .forgot-password {
    padding-top: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }

  .forgot-password:hover {
    color: red;
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  .profile-details {
    text-align: center;
  }

  .profile-details p {
    margin-bottom: 10px;
  }

  .profile-details p span {
    font-weight: bold;
  }

  .edit-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .edit-profile-buttons {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
    padding: 10px;
  }

  .edit-profile-buttons button {
    width: 48%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  .edit-profile-buttons button:hover {
    background-color: #2E8B57;
  }

  .profile-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .topnav {
    overflow: hidden;
    background-color: greenyellow;
    font-family: Arial;
    display:flex;
    justify-content: right;
  }

  .topnav a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav .icon {
    display: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    color: black;
  }

  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .topnav a:hover,
  .dropdown:hover .dropbtn {
    background-color: whitesmoke;
  }

  .dropdown-content a:hover {
    background-color: rgb(221, 241, 248);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {
      float: none;
    }
    .topnav.responsive .dropdown-content {
      position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }